<li>
    <p>
      <small>
        <%= comment.user.name %>
      </small>
        <br>
      <%= comment.content %>
    
      <!-- delete comment button -->
      <% if(locals.user && locals.user.id == comment.user.id){%>
        <small>
          <a href="comments/destroy/<%= comment.id%>">
            <button>Delete</button>
          </a>
        </small>
        <%}%>
     
    </p>
    </li>