<footer>
    
Arsh ramgarhia all Rights reserved

<ul>
    <li>
        <a href="/">
            Home
        </a>
    </li>
    <li>
    <a href="/users/profile">
        profile
    </a>
</li>
</ul>

</footer>