body{
margin: 0px;
div{
    box-shadow: 0px 0px 4px 1px grey;
    margin-left: 25%;
    margin-top: 1%;
    text-align: center;
    border: 2px solid grey;
    height:60%;
    width:50%;
    background-color: lightgrey;
   
p{
a{
    padding: 4px;
    border: 2px solid grey;
    background-color: rgb(132, 180, 239);
    color: white;
    text-decoration: none;
}
    a:hover{
        background-color: rgb(65, 243, 82);
        box-shadow:  0px 0px 4px 1px grey;
    }
}
}
}