footer {
  display: flex;
  padding: 0rem 1rem 0rem 0.5rem;
  background-color: lightslategray;
  height: 5rem;
  color: white;
  font-size: 18px;
  align-items: center; }
  footer ul {
    list-style: none; }
    footer ul a {
      color: white;
      margin-left: 2rem;
      text-decoration: none; }
